
<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. </p>

    </div>
    <!-- container -->
</div>
<!-- slim-footer -->

<script src="~/Content/lib/jquery/js/jquery.js"></script>
<script src="~/Content/lib/popper.js/js/popper.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
<script src="~/Content/lib/moment/js/moment.js"></script>
<script src="~/Content/lib/jquery-ui/js/jquery-ui.js"></script>
<script src="~/Content/lib/jquery-toggles/js/toggles.min.js"></script>
<script src="~/Content/lib/jt.timepicker/js/jquery.timepicker.js"></script>
<script src="~/Content/lib/spectrum/js/spectrum.js"></script>
<script src="~/Content/lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
<script src="~/Content/lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
<script src="~/Content/js/footable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>


<script src="../js/slim.js"></script>

<script>
    $(document).ready(function () {

        $('.table').footable({
            "paging": {
                "enabled": true
            },
            "filtering": {
                "enabled": true
            }
        });

        var menu = ["feedback", "openticket", "resolvedticket", "assignedticket",
            "respondedticket", "closedticket", "rejectedticket"
        ];

        var users = ["Create", "HR", "Department"];

        var chat = ["HRChat"];

        var url = window.location.href;
        var page = new Array();
        var page = url.split("/");
        console.log(page[page.length - 1])
        var last = page[page.length - 1];


        $.each(menu, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                //    $(".nav").find('.active').eq(0).attr("class", "active");
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item  with-sub");
                console.log($(".nav").find('.nav-item').eq(1).attr("class", "nav-item active with-sub"));
                //    $(".nav").find(":nth-child(1)" ).attr("class", "active");

            }
        });



        $.each(users, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                //    $(".nav").find('.active').eq(0).attr("class", "active");
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item active with-sub"));
                //    $(".nav").find(":nth-child(1)" ).attr("class", "active");

            }
        });

        $.each(chat, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                //    $(".nav").find('.active').eq(0).attr("class", "active");
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item "));
                //    $(".nav").find(":nth-child(1)" ).attr("class", "active");

            }
        });







    });




</script>
<script>
    $(function () {
        'use strict'

        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });

        // Input Masks
        $('#dateMask').mask('99/99/9999');
        $('#phoneMask').mask('(999) 999-9999');
        $('#ssnMask').mask('999-99-9999');

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({
            'scrollDefault': 'now'
        });
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function () {
            $('#tp3').timepicker('setTime', new Date());
        });

        // Color picker
        $('#colorpicker').spectrum({
            color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
            color: 'rgba(23,162,184,0.5)',
            showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette: true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6', '#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });

    });

    $(function () {
        'use strict'

        // Datepicker
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd-mm-yy'
        });

        $('#datepickerNoOfMonths').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2
        });

    });

    $(document).ready(function () {



        var menu = ["Create", "feedback", "openticket", "resolvedticket", "assignedticket",
            "respondedticket", "closedticket", "rejectedticket", "tickets?typeId=Complaint", "tickets?typeId=Appreciation",
            "tickets?typeId=Suggestion", "tickets?typeId=Enquiry"
        ];

        var users = ["HR", "Department", "ListUser"];

        var chat = ["HRChat"];

        var reports = ["charts"];

        var url = window.location.href;
        var page = new Array();
        var page = url.split("/");
        console.log(page[page.length - 1])
        var last = page[page.length - 1];


        $.each(menu, function (index, value) {
            console.log("Inside menu");

            if (last == value) {
                console.log("Inside menu");
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(3));
                $(".nav").find('.nav-item').eq(3).attr("class", "nav-item  with-sub");
                console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item active with-sub"));

            }
        });



        $.each(users, function (index, value) {
            console.log("Inside users");

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item with-sub");
                console.log($(".nav").find('.nav-item').eq(3).attr("class", "nav-item active with-sub"));


            }
        });

        $.each(chat, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item with-sub");
                console.log($(".nav").find('.nav-item').eq(3).attr("class", "nav-item active with-sub"));


            }
        });


        $.each(reports, function (index, value) {
            console.log("Inside charts");

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item  with-sub");
                $(".nav").find('.nav-item').eq(3).attr("class", "nav-item with-sub ");
                console.log($(".nav").find('.nav-item').eq(1).attr("class", "nav-item active"));


            }
        });







    });



</script>