
<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. </p>

    </div>
    <!-- container -->
</div>
<!-- slim-footer -->

<script src="~/Content/lib/jquery/js/jquery.js"></script>
<script src="~/Content/lib/popper.js/js/popper.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
<script src="~/Content/lib/moment/js/moment.js"></script>
<script src="~/Content/lib/jquery-ui/js/jquery-ui.js"></script>
<script src="~/Content/lib/jquery-toggles/js/toggles.min.js"></script>
<script src="~/Content/lib/jt.timepicker/js/jquery.timepicker.js"></script>
<script src="~/Content/lib/spectrum/js/spectrum.js"></script>
<script src="~/Content/lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
<script src="~/Content/lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

<script src="../js/slim.js"></script>
<script>
            $(function () {
                'use strict'

                // Toggles
                $('.toggle').toggles({
                    on: true,
                    height: 26
                });

                // Input Masks
                $('#dateMask').mask('99/99/9999');
                $('#phoneMask').mask('(999) 999-9999');
                $('#ssnMask').mask('999-99-9999');

                // Time Picker
                $('#tpBasic').timepicker();
                $('#tp2').timepicker({
                    'scrollDefault': 'now'
                });
                $('#tp3').timepicker();

                $('#setTimeButton').on('click', function () {
                    $('#tp3').timepicker('setTime', new Date());
                });

                // Color picker
                $('#colorpicker').spectrum({
                    color: '#17A2B8'
                });

                $('#showAlpha').spectrum({
                    color: 'rgba(23,162,184,0.5)',
                    showAlpha: true
                });

                $('#showPaletteOnly').spectrum({
                    showPaletteOnly: true,
                    showPalette: true,
                    color: '#DC3545',
                    palette: [
                        ['#1D2939', '#fff', '#0866C6', '#23BF08', '#F49917'],
                        ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
                    ]
                });

            });

            $(function () {
                'use strict'

                // Datepicker
                $('.fc-datepicker').datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: 'dd-mm-yy'
                });

                $('#datepickerNoOfMonths').datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    numberOfMonths: 2
                });

            });

</script>