<script src="~/Content/lib/jquery-toggles/js/toggles.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="~/Content/lib/noty/noty.min.js"></script>
<script>
    $(function() {
        'use strict'

        // Toggles
       $('.toggle').toggles({
            on: false,
           height: 26,
            text: {
                on: 'YES', // text for the ON position
                off: 'NO' // and off
            }
        });
        
    });

    var messageHub = $.connection.messageHub;
    console.log(messageHub);
    $.connection.hub.start().done(function () {
        console.log('Notification hub started');
        console.log('connection started with id: ' + $.connection.hub.id);
    });
    messageHub.client.notification = function (message) {
        var c = $('#notifyCount').text();
         c = $('#notifyCount').text() != ''?Number(c):0;
        $('#notifyCount').text(++c);

        $('#notificationlist').prepend('<a href="#" class="dropdown-link">' +
            '<div class="media"> <div class="media-body">' +
            '<p><strong>'+message.FirstName +' '+message.LastName+'</strong> messaged you.</p>' +
            '<p><strong>'+message.Text+'</strong></p>' +
            '<span>' + parseJsonDate(message.SentTime)+'</span>' +
            '</div>' +
            '</div>' +
            '</a>');

        Noty.overrideDefaults({
      callbacks: {
        onTemplate: function() {
          if (this.options.type === 'reply') {
            this.barDom.innerHTML = '<div class="my-custom-template noty_body">';
            this.barDom.innerHTML += '<div class="noty-header"><a href="' + this.options.category_link + '">' + this.options.category + '</a> <span class="noty-bull">&bull;</span> <span class="noty-date">' + moment(this.options.date).fromNow() + '</span></div>';
            this.barDom.innerHTML += '<h3 class="from-name">' + this.options.from + '</h3>';
            this.barDom.innerHTML += '<p class="noty-reply">' + this.options.text + '</p>';
            this.barDom.innerHTML += '<img src="' + this.options.avatar + '">';
            this.barDom.innerHTML += '<div>';
          }
        }
      }
    })

        new Noty({
            text: message.Text,
            type: 'reply',
            theme: 'mint',
            layout: 'bottomRight',
            category: 'New Message',
            category_link: '/Chat/HRChat',
            date: message.SentTime,
            from: message.FirstName + ' ' + message.LastName,
            progressBar: true,
            sounds:{
                sources: 'some.wav',
                volume:1
            },
            timeout: 2000,
             avatar: '/Content/img/avatar.jpg'
    }).show();
    }

    $(document).ready(function () {
        
        $('.toggle').on('click', function (e, active) {
            var status = $('.toggle').data('toggles');
            var url = '/chat/hr/available/';
            console.log(status.active+"----current status")

                if (status.active) {
                    url = url + "true";
                    $.get(url, function() {
                        console.log('on');
                    });
                } else {
                    url = url + "false";
                    $.get(url, function () {
                        console.log('off');
                    });
                }


            });
         
        var url = '/chat/hr/checkavailable';

        $.get(url, function (data) {
            var val = data.toLowerCase();
            var T = $('.toggle').data('toggles');
            console.log(data + "======data from server"+val);
            if (val == "true") {
                T.toggle(true);
            } else {
                T.toggle(false);

            }
        });

        $('.dropdown-b').click(function() {
            $('#notifyCount').text(0);
        });
    });
    function parseJsonDate(jsonDateString) {
        //moment(g;
        console.log('===' + jsonDateString);
        return moment(new Date(jsonDateString)).format('MM/DD/YYYY  HH:mm A');
    }

    $(document).ready(function () {



        var menu = ["Create", "feedback", "openticket", "resolvedticket", "assignedticket",
            "respondedticket", "closedticket", "rejectedticket", "tickets?typeId=Complaint", "tickets?typeId=Appreciation",
            "tickets?typeId=Suggestion", "tickets?typeId=Enquiry"
        ];

        var users = ["HR", "Department", "ListUser"];

        var chat = ["HRChat"];

        var reports = ["charts"];

        var url = window.location.href;
        var page = new Array();
        var page = url.split("/");
        console.log(page[page.length - 1])
        var last = page[page.length - 1];


        $.each(menu, function (index, value) {
            console.log("Inside menu");

            if (last == value) {
                console.log("Inside menu");
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(3));
                $(".nav").find('.nav-item').eq(3).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item active with-sub"));

            }
        });



        $.each(users, function (index, value) {
            console.log("Inside users");

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item with-sub");
                console.log($(".nav").find('.nav-item').eq(3).attr("class", "nav-item active with-sub"));


            }
        });

        $.each(chat, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item with-sub");
                console.log($(".nav").find('.nav-item').eq(3).attr("class", "nav-item active with-sub"));


            }
        });


        $.each(reports, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item  with-sub");
                $(".nav").find('.nav-item').eq(3).attr("class", "nav-item");
                console.log($(".nav").find('.nav-item').eq(1).attr("class", "nav-item active "));


            }
        });







    });
</script>



<!--<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018  All Rights Reserved. </p>

    </div>
     container
</div>
<!-- slim-footer

<script src="~/Content/lib/jquery/js/jquery.js"></script>
<script src="~/Content/lib/popper.js/js/popper.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
<script src="~/Content/lib/moment/js/moment.js"></script>
<script src="~/Content/lib/jquery-ui/js/jquery-ui.js"></script>
<script src="~/Content/lib/jquery-toggles/js/toggles.min.js"></script>
<script src="~/Content/lib/jt.timepicker/js/jquery.timepicker.js"></script>
<script src="~/Content/lib/spectrum/js/spectrum.js"></script>
<script src="~/Content/lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
<script src="~/Content/lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

<script src="../js/slim.js"></script>


<script>




    $(function () {
        'use strict'

        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });

        // Input Masks
        $('#dateMask').mask('99/99/9999');
        $('#phoneMask').mask('(999) 999-9999');
        $('#ssnMask').mask('999-99-9999');

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({
            'scrollDefault': 'now'
        });
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function () {
            $('#tp3').timepicker('setTime', new Date());
        });

        // Color picker
        $('#colorpicker').spectrum({
            color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
            color: 'rgba(23,162,184,0.5)',
            showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette: true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6', '#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });

    });

    $(function () {
        'use strict'

        // Datepicker
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd-mm-yy'
        });

        $('#datepickerNoOfMonths').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2
        });

    });

</script> -->
